#header_st{
    display:none;
}
#header{
    z-index:99;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:80px;
    background-image:linear-gradient(rgba(62, 122, 174, 1), rgba(21, 56, 97, 1));
    font-family:"Open Sans", sans-serif;
    box-shadow: 0 2px 20px black;
}
.list_menu{
    list-style:none;
    text-align:center;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    margin:0;
    padding:0;
}
.list_menu li{
    display:inline-block;
    width:10%;
    height:100%;
    color:white;
    text-transform:uppercase;
    font-weight:200;
    font-size:15px;
}
.list_menu li a{
    position:relative;
    top:27px;
    color:white;
    text-decoration:none;
}
.list_menu li a:hover{
    cursor:pointer;
    color:grey;
}
/********************************************************* PARTIE SMARTPHONE *************************************************************/
@media only screen and (max-device-width:980px) {

#header{
    display:none;
}
#header_st{
    z-index:99;
    display:block;
    position:fixed;
    top:0px;
    left:0px;
    height:20%;
    right:0px;
    background-image:linear-gradient(rgba(62, 122, 174, 1), rgba(21, 56, 97, 1));
}
}

/********************************************************************************************************************************************/